@import './src/styles/_mixins';
@import './src/styles/_utils';
@import './src/styles/_main';
@import './src/styles/_filter-form';


.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: #fff;
}